@font-face{font-family:Lato-Bold;src:url(./Lato-Bold.ttf)}
@font-face{font-family:Lato-Regular;src:url(./Lato-Regular.ttf)}
@font-face{font-family:Lato-Semibold;src:url(./Lato-Semibold.ttf)}
@font-face{font-family:SourceSansPro-Bold;src:url(./SourceSansPro-Bold.ttf)}
@font-face{font-family:SourceSansPro-Regular;src:url(./SourceSansPro-Regular.ttf)}
@font-face{font-family:SourceSansPro-Semibold;src:url(./SourceSansPro-Semibold.ttf)}
@font-face{font-family:IBMPlexSerif-Medium;src:url(./IBMPlexSerif-Medium.ttf)}
@font-face{font-family:;src:url(./font/.ttf)}
@font-face{font-family:;src:url(./font/.ttf)}
@font-face{font-family:;src:url(./font/.ttf)}
@font-face{font-family:;src:url(./font/.ttf)}
@font-face{font-family:;src:url(./font/.ttf)}
@font-face{font-family:;src:url(./font/.ttf)}
@font-face{font-family:;src:url(./font/.ttf)}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@-webkit-viewport{width:device-width}
@viewport{width:device-width}

.bodyb{background-color:#fff;color:#000;margin:0;padding:0;text-align:center;text-decoration:none}
.center{background-color:#fff;color:#000;margin:0;padding:0;text-align:center;text-decoration:none}
.container{background-color:#fff;margin:0 auto;max-width:640px;padding:0}
.img-responsive{max-width:100%}
.left{background-color:#fff;color:#000;margin:0;padding:0;text-align:left;text-decoration:none}
.logp{margin:0;margin-left:-64px;padding:0}
.nav{color:#000;display:inline;font:16pt/36pt SourceSansPro-Regular;margin:0;padding:0;text-decoration:none;vertical-align:super}
.right{background-color:#fff;color:#000;margin:0;padding:0;text-align:right;text-decoration:none}
.table{margin-bottom:0;max-width:100%;width:100%}
.text{background-color:#fff;color:#000;font:16pt/22pt SourceSansPro-Regular;letter-spacing:0;margin:0;padding:0;text-align:left;text-decoration:none}
a{background-color:#fff;color:#dc4623;display:inline;font:16pt/22pt SourceSansPro-Regular;letter-spacing:0;margin:0;padding:0;text-decoration:none}
a.date{background-color:#fff;color:#000;display:inline;font:10pt/14pt SourceSansPro-Regular;letter-spacing:0;margin:0;padding:0;text-decoration:none;vertical-align:top}
a.logo{background-color:#fff;color:#000;display:inline;font:48pt/48pt IBMPlexSerif-Medium;letter-spacing:1px;margin:0;padding:0;text-decoration:none;vertical-align:top}
a.ptitle{background-color:#fff;color:#000;display:inline;font:22pt/28pt SourceSansPro-Semibold;s;letter-spacing:0;margin:0;padding:0;text-decoration:none;vertical-align:top}
body{background-color:#fff;margin:0;padding:0}
html{background-color:#fff;color:#000;display:block;margin:0;margin-right:calc(-1 * (100vw - 100%));overflow-x:hidden;padding:0}
table{background-color:transparent;border:0;border-collapse:collapse;border-spacing:0}
th,td{bottom:0;padding:.5em 1em;text-align:left;vertical-align:top}
hr{border:0;border-top:1px solid #000;border-bottom: 1px solid #000;margin:0;padding:0}