@font-face{font-family:sspr;src:url(./sspr.ttf)}
@font-face{font-family:ssps;src:url(./ssps.ttf)}
@font-face{font-family:ibmpsm;src:url(./ibmpsm.ttf)}
@font-face{font-family:;src:url(./font/.ttf)}

.center{background-color:#fff;color:#000;margin:0;max-width:24.5rem;padding:0;width:24.5rem;text-align:center;text-decoration:none}
.container{background-color:#fff;margin:0 auto;max-width:24.5rem;padding:0;width:24.5rem;}
.imgr{max-width:100%}
.left{background-color:#fff;color:#000;margin:0;max-width:24.5rem;padding:0;width:24.5rem;text-align:left;text-decoration:none}
.nav{color:#000;display:inline;font:1.2rem/1.2rem ibmpsm;margin:0;padding:0;text-decoration:none;vertical-align:super}
.text{background-color:#fff;color:#000;font:0.9rem/1rem sspr;letter-spacing:0;margin:0;padding:0;text-align:left;text-decoration:none}
a{background-color:#fff;color:#dc4623;display:inline;font:0.9rem/1rem sspr;letter-spacing:0;margin:0;padding:0;text-decoration:none}
a.date{background-color:#fff;color:#000;display:inline;font:0.75rem/0.8rem sspr;letter-spacing:0;margin:0;padding:0;text-decoration:none;vertical-align:top}
a.logo{background-color:#fff;color:#000;display:inline;font:2.7rem/2.7rem ibmpsm;letter-spacing:1px;margin:0;padding:0;text-decoration:none;vertical-align:baseline}
a.ptitle{background-color:#fff;color:#000;display:inline;font:1rem/1.3rem ssps;letter-spacing:0;margin:0;padding:0;text-decoration:none;vertical-align:top}
body{background-color:#fff;margin:0;padding:0}
html{background-color:#fff;color:#000;display:block;margin:0;margin-right:calc(-1 * (100vw - 100%));overflow-x:hidden;padding:0}
hr{border:0;border-top:1px solid #000;border-bottom: 1px solid #000;margin:0;padding:0}